/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** REPORT STYLES ***************************************/
html {
    background-color: blue;
}

body {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    font: 14pt normal arial,serif;
}

h1 {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border: 1px solid #CCCCCC;
}

    table th {
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
    }
    
    table td {
        text-align: center;
        padding: 5px;
    } 
    
    table tr:nth-child(even) td {
        text-align: center;
        padding: 5px;
        background-color: #F4F4F4;
    }        
    
#chart_div {
    margin-top: 40px;
}